.modal-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal-content {
  position: relative;
  width: 400px;
  height: 50px;
  top: 40%;
  text-align: center;
  padding: 15px 30px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px #000;
}

.modal-text {
  font-size: 1rem;
  color: #000;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}
